@{
  Layout = "_Layout";
}

@foreach (var client in @Model)
{
<p>@client.GetName()      @client.GetHours()</p>
<a href="/Stylists/@client.GetId()/update">Edit</a>
}
<br>
<a href="/">Main</a>

<form action="/Clients/Delete" method="post">
  <button type="submit" class="btn btn-success">Cancel All Appointments</button>
</form>
