<h1>Hair-Salon</h1>

<form action="/Stylists" method="post">
  <label for="inputStylist">Enter Employee:</label>
  <input name="inputStylist" class="form-control" id="inputStylist">
  <button type="submit" class="btn btn-success">Submit</button>
</form>

<a href="/Stylists">View All Employees</a>
<a href="/AppointmentChanger">View All Appointments</a>
